# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem
npm-debug.log*

# Prisma
prisma/migrations/**/migration_lock.toml
.vercel
.env
.env.local
.next
node_modules
*.log
.env.local.test
